Source: openmediavault-ldapserver
Section: services
XB-Plugin-Section: network 
Priority: optional
Maintainer: Jason Lo <jason@oemproduction.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.openmediavault.org 

Package: openmediavault-ldapserver
Architecture: all
Conflicts: openmediavault-ad
Depends: openmediavault (>= 2.0.11), openmediavault-ldap, slapd, ldap-utils, ldapscripts, php5-ldap
Description: OpenMediaVault OpenLDAP Server plugin.  An optional plugin to use an LDAP server for user ACL
 instead of the default local users.  This allows for other servers to connect and use this server's LDAP
 server for authentication.
